{% extends "layout.html" %}

{% block body %}
<div id="map-canvas"></div>
<div  id="panel" >
  <div class="container">
    <div class="span5">
  <form method="POST" action="/report" role="form"  >
    <table width="100%">
      <tr>
    <td><label  for="address">WHERE:</label></td>
    <td><input id="address" type="textbox" value="Brooklyn, NY"></td>
    <td><input type="button" class="btn btn-danger btn-xs pull-right" id="DP" value="Drop Pin" onclick="codeAddress()  "></td>
  </tr>
  <tr><td></td></tr>
  <tr>
    <td><label  for="when">WHEN:</label></td>
    <td><input type="datetime-local" id="when" name="when"></td>
</tr>
</table>

    <input type="hidden" name="formatAddress" id="formatAddress"  value="">
    <input type="hidden" name="lat" id="lat"  value="">
    <input type="hidden" name="lon" id="lon"  value="">
    <input type="hidden" name="zip" id="zip"  value="">
<table width="100%" >
  <tr>
    <td><label for "parts">WHAT<small><em> was stolen?</small></em></label></td>
     <td><label for "lockMethods">HOW<small><em> did you lock up?</small></em></label></td>
    </tr>
    <tr>
    <td>
     {% for p in parts|sort %}
        
        <div class="checkbox">
          <label class="checkbox-inline">
            <input type="checkbox" name="parts" value="{{p}}">
            {{ p|replace("_"," ")}} </label>
          </div>
       
        {% endfor %}
     </td>
     <td>{% for l in lockMethods|sort %}
        <div class="checkbox">
        
          <label class="checkbox-inline">
            <input type="checkbox" name="lockMethods" value="{{l}}">
            {{ l|replace("_"," ") }} </label>
        </div>
        
        {% endfor %}
      </td>
    </tr>
        

</table>

    
      

    <button type="submit"  id="submit" disabled=true class="btn btn-danger pull-right ">Report</button>
  </form>
</div>
</div>
</div>

{% endblock %}


{% block styles %}

<style>

html, body, #map-canvas {
    height: 300px;
    width:100%;

    
    color:white;

  }

td {
    vertical-align: top;
}

form{
  font-size: 10px;
  color:#FFF;
}


.clear{
clear:both;

}

.stack{
  width:100px;
  float:left;
}

  #panel {


    
    padding:20px;
    z-index: 5;
    background-color: #000;

    
  }
</style>
{% endblock %}
{% block scripts %}
<script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?v=3.exp?key={AIzaSyD6av4FAaq7w8dzfA1TieK3r9dWyTRDczs}&sensor=false">
  </script>
  <script>
  var geocoder;
  var map;

   // Marker sizes are expressed as a Size of X,Y
  // where the origin of the image (0,0) is located
  // in the top left of the image.

  // Origins, anchor positions and coordinates of the marker
  // increase in the X direction to the right and in
  // the Y direction down.
  var image = {
    url: '../static/img/wheel.png',
    // This marker is 20 pixels wide by 32 pixels tall.
    size: new google.maps.Size(48, 36),
    // The origin for this image is 0,0.
    origin: new google.maps.Point(0,0),
    // The anchor for this image is the base of the flagpole at 0,32.
    anchor: new google.maps.Point(12, 36)
  };
  /* Shapes define the clickable region of the icon.
  // The type defines an HTML &lt;area&gt; element 'poly' which
  // traces out a polygon as a series of X,Y points. The final
  // coordinate closes the poly by connecting to the first
  // coordinate.
  var shape = {
      coord: [1, 1, 1, 20, 18, 20, 18 , 1],
      type: 'poly'
  }; */



  function initialize() {
    geocoder = new google.maps.Geocoder();
    var latlng = new google.maps.LatLng(40.6938, -73.8383);
    var mapOptions = {
      zoom: 12,
      center: latlng
    }

    var styles = [
    {
      stylers: [
      
      { saturation: -100 }
      ]
    },{
      featureType: "road",
      elementType: "geometry",
      stylers: [
      { lightness: 100 },
      { visibility: "simplified" }
      ]
    }];
    

    

    map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
    map.setOptions({styles: styles});
  }


  function codeAddress() {
   
          

    var address = document.getElementById('address').value;
    geocoder.geocode( { 'address': address +"nyc"}, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
        // Create our "tiny" marker icon
          
        map.setCenter(results[0].geometry.location);
        var marker = new google.maps.Marker({
                   icon: {
      path: google.maps.SymbolPath.CIRCLE,
      scale: 1
    },
          icon: image,
          map: map,
          position: results[0].geometry.location




});
      } else {
        alert('Geocode was not successful for the following reason: ' + status);
      }
      //how should i put this in the database?
      var lat = (results[0].geometry.location.lat());
      var lon = (results[0].geometry.location.lng());
      var fad =(results[0].formatted_address);

      var address = results[0].address_components;
      var zipcode = address[address.length - 1].long_name;
      
      
      var ad = document.getElementById('formatAddress');
      ad.value = fad ; 
      var lt = document.getElementById('lat');
      lt.value = lat;  
      var ln = document.getElementById('lon');
      ln.value = lon ;   
      var zip = document.getElementById('zip');
      zip.value = zipcode ;  



      document.getElementById("submit").disabled=false;
    });
  }

  

  google.maps.event.addDomListener(window, 'load', initialize);

  </script>


{% endblock %}